.page-title {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 20px !important;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.home-card {
  margin-bottom: 20px !important;
}
